<% form_for article, :url => method(url_action).call(article) do |f| %>
	<%= f.error_messages %>
	<%= f.hidden_field :lock_version %>
	<div class="new-wrapper">
	    <div>
		    <%= f.label :title %>
		    <%= f.text_field :title %>
	    </div>
	    <div>
	    <% fields_for article.current_revision do |f| %>
		    <div class="new-wrapper-body">
				<%= f.text_area :body %>
		    </div>
			<div class="new-wrapper-summary">
				<%= f.label :summary, "Edit summary: "%>
				<%= f.text_field :summary %>
			</div>
	    <% end %>
	    </div>
		    <%= f.submit "submit" %>
	</div>
<% end %>