<h1><%=t 'user.preferences.default' -%></h1>
<%= form_for @user do |f| -%>
	<label>
		<%= f.label :locale, I18n.t('user.preferences.locale') + ':' -%>
		<%= f.select (:locale, available_locales.map {|u| [u.value.to_s, u.label.to_s]}, :selected => @locale) -%>
		<br/>
		<%= f.label :email, 'Email:' -%>
		<%= f.text_field :email %>
	</label>
	<br/><br/>
	<%= f.submit "Submit" -%>
<% end %>

