<p><%= t 'user.'</p>
<% form_for @user do |f| %>
	<%= f.error_messages -%>
	<%= f.label :login, (I18n.t 'user.name') + ":" -%>
	<%= f.text_field :login -%>
	<%= f.label :email, (I18n.t 'user.email') + ":" -%>
	<%= f.text_field :email -%>
	<%= f.label :password, (I18n.t 'user.password') + ":" -%>
	<%= f.password_field :password %>
	<%= f.label :password_confirmation, (I18n.t 'user.pass_confirm') + ":" -%>
	<%= f.password_field :password_confirmation -%>
	<%= f.submit "Register" -%>
<% end %>