<%= form_for @user do |f| %>
<h1><%= t 'user.create.info' %></h1>
	<div class="entry">
		<%= f.label :login, (I18n.t 'user.name') + ":" -%>
		<%= f.text_field :login -%>
	</div>
	<div class="entry">
		<%= f.label :email, (I18n.t 'user.email') + ":" -%>
		<%= f.text_field :email -%>
	</div>
	<div class="entry">
		<%= f.label :password, (I18n.t 'user.password') + ":" -%>
		<%= f.password_field :password %>
	</div>
	<div class="entry">
		<%= f.label :password_confirmation, (I18n.t 'user.pass_confirm') + ":" -%>
		<%= f.password_field :password_confirmation -%>
	</div>
	<div class="submit">
	<%= f.submit "Register", :class => "small blue button"-%>
	</div>
<% end %>
