<% form_for @user_session, :url => user_session_url do |f| %>
	<p>Login:</p>
	<label>
		<%= f.label :login, "Username: " -%>
		<%= f.text_field :login -%>
	</label>
	<label>
		<%= f.label :password, "Password: " -%>
		<%= f.password_field :password -%>
	</label><br>
	<%= f.submit "submit", :class => "small blue button" %>
<% end %>

