<% form_for @user_session, :url => user_session_url do |f| %>
	<h1>Login<a>[x] </a></h1>
	<div class="entry">
		<%= f.label :login, "Username:" -%>
		<%= f.text_field :login -%>
	</div>
	<div class="entry">
		<%= f.label :password, "Password:" -%>
		<%= f.password_field :password -%>
	</div>
	<div class="submit">
		<%= f.submit "Log in", :class => "small blue button"%>
	</div>
<% end %>

<!-- <form class = "new_user_session">
	<h1>A collapsed box. <a href="#">[show]</a></h1>
</form> -->
