<% form_for @user_session, :url => user_session_url do |f| %>
	<h1>I already have an account</h1>
	<p>
		<%= f.label :login, "Username:" -%>
		<%= f.text_field :login -%>
	</p>
	<p>
		<%= f.label :password, "Password:" -%>
		<%= f.password_field :password -%>
	</p>
	<%= f.submit "Submit", :class => "small blue button" %>
<% end %>

