<div id="logo"></div>
<div id="login-bar">
	main page | random article | Emi | my contribs | log out
</div>

<div id="main-tools"></div>
<div>
	<div id="article-tools">
	    <div id="article-tools-left">
			<%= article_tab(article, article_active)	-%>
			<%= talk_tab(talk_forum, talk_forum_active)	-%>
	    </div>

	    <div id="search">
		<%#= render partial => "layouts/search" -%>
		<input id="searchInput" title="Search Magmawiki" accesskey="f" value="" name="search" /> 
	    </div>

	    <div id="article-tools-right">
			<%= read_tab(article, read_active)			-%>
			<%= edit_tab(article, edit_active)			-%>
			<%= history_tab(article, history_active)	-%>
			<%= star_tab(article, star_active)			-%>
			<%= menu_tab(article, menu_active)			-%>
	    </div>
	</div>
</div>