<!--<div id="logo"></div> -->
<div id="login-bar">
	<%= link_to (t 'article.main_page'), root_url -%>
	|
	<%= link_to "All Pages", "/wiki/" -%>
	|
	<%# =t 'article.random' %>
	<% if current_user.nil? -%>
		<%= link_to (t 'session.login.default'), login_url -%> |
		<%= link_to (t 'user.create.default'), new_user_url -%>
	<% else %>
		<%#=t 'user.contribs' %>
		user: <%= link_to (h current_user.login), edit_user_url(current_user) -%> |
		<%= link_to (t 'session.logout.default'),	logout_url					-%>
	<% end %>
</div>

<div id="main-tools"></div>
<div>
  <div id="article-tools">
      <div id="article-tools-left">
	      <%= article_tab(article, article_active).html_safe  -%>
	      <%= talk_tab(talk_forum, talk_forum_active).html_safe -%>
      </div>

      <div id="search">
	    <%#= render partial => "layouts/search" -%>
	    <input id="searchInput" title="Search Magmawiki" accesskey="f" value="" name="search" /> 
      </div>

      <div id="article-tools-right">
	      <%= read_tab(article, read_active).html_safe    	-%>
	      <%= edit_tab(article, edit_active).html_safe  	-%>
	      <%= history_tab(article, history_active).html_safe  -%>
	      <%= star_tab(article, star_active).html_safe      	-%>
	      <%= menu_tab(article, menu_active).html_safe      	-%>
      </div>
  </div>
</div>