<!DOCTYPE html>
<%= "<html lang=\"#{I18n.locale}\">" %>
	<head>
		<title><%= h"#{MAGMAWIKI_CONFIG[:title]} #{yield(:title)}" -%></title>
		<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' -%>
		<%= stylesheet_link_tag 'reset', 'application', 'header', 'forms', :cache => 'cache/all' -%>
		<%= yield(:head) -%>
	</head>
  	<body>
		<%= render :partial => 'layouts/toolbar_header', :locals => define_toolbar_variables(@toolbar_locals) -%>
		<div id="body">
			<% flash.each do |name, msg| %>
				<%= content_tag :div, (h msg), :id => "flash_#{name}" -%>
			<% end %>
			<%= yield %>
		</div>
	</body>
</html>